* {
	margin:0;
	padding:0;
	/* border:0; */
	font-family: 'Roboto';
	font-style: normal;
}

body {
	width: 1600px;
}

header {
	width: 1600px;
	height: 80px;
	background: #111115;
	text-align: center;
	position: absolute;
	left: 0px;
top: 0px;
}

h1 {
	position: absolute;
	box-sizing: border-box;
	width: 72.49px;
	height: 44.91px;
	font-weight: 400;
	font-size: 19.0145px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	border: 1.18841px solid #FFFFFF;
	margin-left: 220px;
	margin-top: 19px;
}

#logo_bamboo {
	position: absolute;
	left: 227.13px;
	top: 38.64px;
}

#nav {
	padding-top: 29px;
	padding-left: 70px;
}

.nav_item {
	display: inline;
	list-style-type: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	padding-left: 58px;
	text-decoration: none;
}

.nav_item a:link {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	}

.nav_item a:hover {
	color: #F9804B;
}

#designed {
	padding-left: 438px;
}

.container {
	width: 1600px;
	position: flex;
	margin: 0px;
}

#watch_online > .container {
	background-image: url("../../assets/giant_panda.png");
	background-size: cover;
	height: 700px;
	width: 1600px;
	text-align: center;
	position: block;
}

.container > div > p {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 106.496px;
	line-height: 75%;
	text-align: center;
	position: absolute;
	left: 880px;
	margin-top: 166px;
}

#watch_online > .container > div > img {
	 position: absolute;
	 margin-top: 92px;
	 left: 807px;
}

.favorite {
 color: #FFEE2E;
}

#watch_btn {
	top: 626px;
	left: 983px;
}

.round_btn {
width: 298px;
height: 54px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
border-style: none;
text-align: center;
text-transform: uppercase;
position: absolute;
color: #FFFFFF;
}

.round_btn:hover {
	background: #E47209;
}

.round_btn:active {
	background: #4B9200;
}

#backstage_text {
	position: absolute;
	left:  915px;
	top: 920px;
	width: 465px;
}

#backstage {
height: 617px;
}

.img_cap {
	position: absolute;
	top: 920px;
	left: 219px;
	width: 609px;
height: 403px;
}

.img_flower {
	position: absolute;
	left:  1400px;
}

#animal_cards > div.container {
	height: 1200px;
}

.cards_container {
	display: absolute;
	width: 1225px;
	height: 872px;
	margin-top: 183px;
	margin-bottom: 80px;
	margin-left: 190px;
	margin-right: 193px;
}

.card {
	box-sizing: border-box;
	width: 366px;
	height: 426px;
	border-radius: 5px;
	display: inline-table;
	margin-left: 30px;
	margin-top: 20px;
	border: 1px solid #FA6F32;
}

.card_text  {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	display: inline-flex;
	padding-left: 10px;
	padding-bottom: 14px;
	height: 60px;
}

.food_icon {
	padding-top: 13px;
	padding-left: 110px;
}

.place {
	text-transform: none;
	font-weight: 300;
	font-size: 15px;
}

#right_arrow {
	float: right;
}

#left_arrow {
	float: left;
}

.circle_btn {
	position: absolute;
	top: 1946px;
	width: 62px;
	height: 62px;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 50px;
	border-style: none;
}

#left {
	left: 138px;
}

#right {
	left: 1435px;
}

.circle_btn:hover {
	background: #E47209;
}

.circle_btn:active {
	background: #4B9200;
}

#choose_btn {
	left: 651px;
}

#pick_feed {
height: 1004px;
background-color: #FEBDAB;
}

.square_btn {
	width: 298px;
	height: 54px;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	border-style: none;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.square_btn:hover {
	background: #E47209;
}

.square_btn:active {
	background: #4B9200;
}

#div_testimonials {
	height: 1362px;
}

#testimonial > .testimonial {
	box-sizing: border-box;
	position: absolute;
	width: 268px;
	height: 391px;
	top: 234px;
	background: #F1F3F2;
	border-radius: 20px;
	border: 2px solid #EAF7FE;
}

footer {
	background: #111115;
	display: flow-root;
}

#footer_container {
	display: flex;
	justify-content: center;
	margin-top: 41px;
	margin-bottom: 50px;
	gap: 32px;
}

#footer_div_1 {
	margin-right:0;
	width: 367px;
}

#footer_div_1 > div.logo {
	justify-self: flex-start;
	margin-top: 41px;
}

#social_links {
	margin-top: 10px;
}

#social_links > div > a {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}

#social_links > div > a > p {
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin:0 0 0 12px;
}

#social_links > div > a > img {
	margin: 0;
}

#donate_btn {
	margin-bottom: 44px;
	margin-top: 68px;
}

#footer_div_2 {
	margin: 0;
	width: 367px;
}

#footer_nav {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 330px;
	padding: 0;
}

#footer_about {
	padding-left: 0;
}

#footer_div_3 {
  margin-left: 0;
  width: 367px;
}

#subscribe {
  justify-self: right;
}

#subscribe > p {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	padding-bottom: 14px;
}

#subscribe > input {
	background-color: #111115;
	width: 228px;
	height: 42px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	border: 0.7px solid #F9804B;
	border-radius: 2px;
}

#subscribe > input:placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #BDBDBD;
}

#subscribe > input:focus {
	outline:  none;
	border: 0.7px solid #4B9200;
}

#submit_btn {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4B9200;
  padding: 10px 39px;
}

#footer_div_3 > p {
	font-weight: 100;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	margin-top: 216px;
	text-align:right;
}
