* {
	margin:0;
	padding:0;
	/* border:0; */
	font-family: 'Roboto';
	font-style: normal;
}

body {
	width: 1600px;
}

header {
	width: 1600px;
	height: 80px;
	background: #111115;
	text-align: center;
	position: absolute;
	left: 0px;
top: 0px;
}

h1 {
	position: absolute;
	box-sizing: border-box;
	width: 72.49px;
	height: 44.91px;
	font-weight: 400;
	font-size: 19.0145px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	border: 1.18841px solid #FFFFFF;
	margin-left: 220px;
	margin-top: 19px;
}

#logo_bamboo {
	position: absolute;
	left: 227.13px;
	top: 38.64px;
}

#nav {
	padding-top: 29px;
	padding-left: 70px;
}

.nav_item {
	display: inline;
	list-style-type: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	padding-left: 58px;
	text-decoration: none;
}

.nav_item a:link {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	}

.nav_item a:hover {
	color: #F9804B;
}

#designed {
	padding-left: 438px;
}

.container {
	width: 1600px;
	position: flex;
	margin: 0px;
}

#watch_online > .container {
	background-image: url("../../assets/giant_panda.png");
	background-size: cover;
	height: 700px;
	width: 1600px;
	text-align: center;
	position: block;
}

.container > div > p {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 106.496px;
	line-height: 75%;
	text-align: center;
	position: absolute;
	left: 880px;
	margin-top: 166px;
}

#watch_online > .container > div > img {
	 position: absolute;
	 margin-top: 92px;
	 left: 807px;
}

.favorite {
 color: #FFEE2E;
}

#watch_btn {
	top: 626px;
	left: 983px;
}

#watch_btn:active {
	background: #4B9200;
}

.round_btn {
width: 298px;
height: 54px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
border-style: none;
text-align: center;
text-transform: uppercase;
position: absolute;
color: #FFFFFF;
}

.round_btn:active {
	background: #4B9200;
}

#backstage_text {
	position: absolute;
	left:  915px;
	top: 920px;
	width: 465px;
}

#backstage {
height: 617px;
}

.img_cap {
	position: absolute;
	top: 920px;
	left: 219px;
	width: 609px;
height: 403px;
}

.img_flower {
	position: absolute;
	left:  1400px;
}

.cards_container {
	display: absolute;
	width: 1225px;
	height: 872px;
	margin-top: 183px;
	margin-bottom: 80px;
	margin-left: 190px;
	margin-right: 193px;
}

.card {
	box-sizing: border-box;
	width: 366px;
	height: 426px;
	border-radius: 5px;
	border-color: #FA6F32;
	display: inline-table;
	margin-left: 30px;
	margin-top: 20px;
	border-style: groove;
}

.card_text  {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	display: inline-flex;
	padding-left: 10px;
	padding-bottom: 14px;
	height: 60px;
}

.food_icon {
	padding-top: 13px;
	padding-left: 110px;
}

.place {
	text-transform: none;
	font-weight: 300;
	font-size: 15px;
}

#right_arrow {
	float: right;
}

#left_arrow {
	float: left;
}

.circle_btn {
	position: absolute;
	top: 1946px;
	width: 62px;
	height: 62px;
	background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	border-radius: 50px;
	border-style: none;
}

#left {
	left: 138px;
}

#right {
	left: 1435px;
}

.circle_btn:active {
	background: #4B9200;
}

#choose_btn {
	left: 651px;
}

#pick_feed {
height: 1004px;
background-color: #FEBDAB;
}

footer {
height: 443px;
width: 1600px;
background: #111115;
}